*~
*.cmo
*.o
*.cmx
*.cma
*.cmxa
*.cmi
*.cmt
*.cmti
parser.ml
parser.mli
lexmaude.ml
lexmaude.mli
parsemaude.ml
parsemaude.mli
lexer.ml
lexer.mli
lwt_compat.ml
grammar.ml
grammar.mli
.depend
akiss
doc

log
log?
*.log
*.dot
akiss.lbl
akiss.dot*
test-*

*.svg
*.txt
*.xml
