*~
*.cmo
*.o
*.cmx
*.cma
*.cmxa
*.cmi
*.annot
parser.ml
parser.mli
lextam.ml
lextam.mli
parsetam.ml
parsetam.mli
lexer.ml
lwt_compat.ml
.depend
akiss
doc

log
log?
*.log
*.dot
akiss.lbl
akiss.dot*
test-*

*.svg
