satp unsolved{
  background-color:#eedddd;
  display:block;
}
satq unsolved{
  background-color:#ddeedd;
  display:block;
}
tests, unreachables{
  display:block;
  margin:20px 0;
}
st {
  display:list-item;
  margin-left:20px;
}
children{
}
statement{
  color:blue;
}
chanset{
  display:block;
}
nbvars{
  font-size:0.6em;
  display:inline-block;
  padding:0 4px;
  color:#555555;
}
i {
  color:#880088;
}
inputs{
  display:none;
}
dag{
  display:inline-block;
  color:green;
  font-size:0.7em;
}
recipes inputs{
  font-size:0.8em;
  display:inline-block;
}
rec{
  font-weight:bold;}
term{
}
pred loc{
  vertical-align: sub;
    font-size: smaller;
}
input loc{
  color:green;
  vertical-align:default;
}
choices{
  font-size:smaller;
}
choices input loc{
  color:#FF00dd;
  vertical-align:default;
}
choices input map{
  color:#dd00dd; 
}
choices input cho{
  color:#888888;
}
findex{
  font-weight:bold;
}
succ{
  font-size:0.5em;
  color:#777777;
}
test raw_st{
  display:block;
}
opentest{
  margin:10px;
  display:block;
}
idtest{
color:red;
}
infos{
  display:none;
}
origin {
  display:inline-block;
  padding:0 5px;
}
origin initial{
  color:#888800;
}
origin composed{
  color:#00dddd;
}
testnode{
  display:block;
  margin-left:20px;
  border:1px dashed yellow;
}
corresp{
  display:block;
  font-size:0.8em;
}
corresp src{
  color:green;
}
corresp dst{
  color:#FF8822;
}
solution{
  display:block;
  border-top:1px dotted yellow;
}
slv idtest{
  color:#880000;
  font-size:0.6em;
}
subst{
  font-size:0.5em;
}
idcomp{
  color:#cc6600;
}
completion{
  display:block;
}
comptree{
  display:block;
  margin-left:20px;
}
comproot{
  display:block;
  border:1px solid #FFDDAA;
}
miss{
  color:#0099FF;
  font-size:0.8em;
}
wp{
  display:none;
}
